.password-reset-form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0 30%;
  padding: 4%;
}
.password-reset-form input {
  margin-bottom: 5%;
}
.password-reset-title {
  text-align: center;
  font-weight: 400;
  margin-top: 5%;
}
