.Timer{
    display: flex;
    flex-wrap: wrap;
    gap: 2px; 
 
}
.buttonTime {
    width: 20%;
    height: 30px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    background-color: #e2e5e7;
}
.buttonTime:focus {
        background-color: rgb(111, 99, 244); 
      }
   
   .containerTime {

    /* margin-left: 20%; */
    
   }
   .Calendar {
    /* margin-left: 20%; */
   }

   .buttonReservez {
    width: 20%;
    height: 30px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    background-color: rgb(111, 99, 244); 

   }
   .Programmer{

    /* margin-left: 10%; */
   }
   .Price{
    border: solid black 1px;
    text-align: center;
    border-radius: 1em;
    width: 110%;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    font-weight: bolder;
    font-size: larger;
   }

   .Price2{
color: rgb(115, 115, 211);

   }
   .profil{
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
}

.rdv{

    align-items: center;
    width: 200%;
}
.imgProfil{
width: 60%;
    
}

.flex {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}