.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.proCard {
  margin: 0;
  margin-left: 8%;
  text-decoration: none;
}
.proCard img {
  height: 30vh;
}
.proCardLeftText {
  margin-left: 5%;
  font-weight: bold;
}
.proCardLeftTextt {
  color: grey;
}
img {
  width: 15vw;
  border-radius: 50px;
}
